@import "app";
@import "nav";
@import "cursor";
// @import "work";

/* 
font-family: 'Forum', cursive;
font-family: 'Give You Glory', cursive;
font-family: 'Quicksand', sans-serif;
*/

// ! Helper functions
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
